.upload-modal .modal-wrapper {
  height: 30%;
  top: 30%;
  position: absolute;
  display: block;
}

.is-uploading {
  height: 70%;
}

.modal-status {
  color: #ffffff;
  font-size: 18px;
  margin-left: 22px;
}
